<ion-view view-title="Wod">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="row">
            <div class="col col-offset-70">
                <a class="item item-icon-left" href="#">
                    <i class="icon ion-calendar"></i>
                    14/12
                </a>
            </div>
        </div>
        <div class="list card" style="background-image: url('img/Depositphotos_40491777_m.jpg');background-size: cover;line-height: initial;">
            <div class="item item-divider" style="background-color: silver">
                <h2 style="color:white;font-weight: bold">A. FUERZA</h2>
            </div>
            <div class="item item-body">
                <ul style="color: white;font-size: 25px;align-content: center">
                    <li>DEADLIFT</li>
                    <li>5x5 @70%</li>
                    <li>STRICT PULL UP</li>
                    <li>5x5</li>
                </ul>
            </div>
        </div>
        <div class="list card" style="background-image: url('img/Depositphotos_40491777_m.jpg');background-size: cover;line-height: initial;">
            <div class="item item-divider" style="background-color: silver">
                <h2 style="color:white;font-weight: bold">B. ACONDICIONAMIENTO</h2>
            </div>
            <div class="item item-body">
                <ul style="color: white;font-size: 23px;align-content: center">
                    <li>AMRAP 12min</li>
                    <li>50 AIR SQUATS</li>
                    <li>50 PUSH UP</li>
                </ul>
            </div>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-social-facebook"></i>
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-social-twitter"></i>
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-social-instagram"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
