<ion-view view-title="Ranking">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        WOD
                    </div>
                    <select>
                        <option>Entrada en calor</option>
                        <option selected>Técnica/Fuerza “A”</option>
                        <option>Elongación</option>
                    </select>
                </label>

            </div>
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/images.jpg">
                    <h2>Jon Snow</h2>
                    <p>01:05:21</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/images.jpg">
                    <h2>Daenerys Targaryen</h2>
                    <p>01:05:21</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/images1.jpg">
                    <h2>Arya Stark</h2>
                    <p>01:05:21</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/images2.jpg">
                    <h2>Sansa Stark</h2>
                    <p>01:05:21</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/images.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>01:05:21</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
